body{
    margin:0px;
    font-family: 'poppins', sans-serif;
}

/*#test {

    font-family: 'poppins', sans-serif;
}*/

.half-width{
    width: 40%;
    float:left;
    margin-left:5%;
    padding-left: 2%;
}
.half-width img{
    width:100%

}
 h1{
    font-size: 50px;
}
.button{

    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato ) ;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    

}

.top-banner{

    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
   
}
.second-section{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
section{

    height: 500px;
    padding-bottom:150px ;
}
.Favoutire-area{

    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left;

}

.single-ex{

    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height:80%;
}
#right-div{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;

}
#left-div{
    border-left: 7px solid;
    border-image: linear-gradient(360deg, rgb(243, 31, 24),cyan);
    border-image-slice: 1;
    background-color: rgb(255, 255, 255);


}
footer{

    margin-top:30px;
    text-align: center;
    color:gray;
    font-size: 12px;
}